.info-section p {
  margin-bottom: 0;
}

.all-horses-wrapper .image img {
  height: 230px;
  -o-object-fit: cover;
  object-fit: cover;
}

.all-horses-wrapper h3 {
  /* font-size: 26px; */
  font-weight: 400;
}

.all-horses-wrapper h3 a {
  color: var(--black1);
}

.all-horses-wrapper h3 a:hover {
  color: var(--yellowDark);
  text-decoration: none;
}

.all-horses-wrapper p {
  font-size: 14px;
}

/* .video-section {
    max-width: 500px;
    margin: auto;
} */

@media (min-width: 991px) {
  .feature-section .intro-about-content {
    margin-bottom: 40px;
  }
}
