.info-section p {
  margin-bottom: 0;
}

.intro-about-content p {
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  color: #777;
  margin-bottom: 40px;
  padding: 0 7%;
  line-height: 32px;
  letter-spacing: 0.45px;
}

.all-horses-wrapper .image img {
  height: 230px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 15%;
  object-position: 50% 15%;
}

.all-horses-wrapper h3 {
  /* font-size: 26px; */
  font-weight: 400;
}

.all-horses-wrapper h3 a {
  color: var(--black1);
}

.all-horses-wrapper h3 a:hover {
  color: var(--yellowDark);
  text-decoration: none;
}

.all-horses-wrapper p {
  font-size: 14px;
}

/* .video-section {
    max-width: 500px;
    margin: auto;
} */

@media (min-width: 991px) {
  .feature-section .intro-about-content {
    margin-bottom: 40px;
  }
}
